
app = 'automod'
primary_region = 'lax'

[build]

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = false
  max_machines_running = 2
  min_machines_running = 2
  [http_service.concurrency]
      type = "requests"
      soft_limit = 500
      hard_limit = 1000
  processes = ['app']

[[http_service.checks]]
  grace_period = "20s"
  interval = "30s"
  method = "GET"
  timeout = "10s"
  path = "/api/healthcheck"


[[vm]]
  size = "shared-cpu-2x"
  memory = 1024
